{{#if flashes.success}}
<div class="flash flash--success">{{flashes.success}}<span class="flash__dismiss">&times;</span></div>
{{/if}}
{{#if flashes.error}}
<div class="flash flash--error">{{flashes.error}}<span class="flash__dismiss">&times;</span></div>
{{/if}}