{{#if flashes.success}}
<div class="success">{{flashes.success}}<span class="error__dismiss">&times;</span></div>
{{/if}}
{{#if flashes.error}}
<div class="success">{{flashes.success}}<span class="error__dismiss">&times;</span></div>
{{/if}}