<div class="navbar">
  <div class="logo-container">
    <p class="logo">Ideaz</p>
  </div>
  <nav class="navigation">
    <ul class="navigation-list">
      <li class="navigation-list__item">
        <div class="hover-effect"></div>
        <a href="/" class="navigation-list__link">
          <svg class="navigation-list__icon feather ">
            <use xlink:href="/icons/feather-sprite.svg#home" />
          </svg>
          Home
        </a>
      </li>
      <li class="navigation-list__item">
        <div class="hover-effect"></div>
        <a href="/about" class="navigation-list__link">
          <svg class="navigation-list__icon feather ">
            <use xlink:href="/icons/feather-sprite.svg#briefcase" />
          </svg>
          About
        </a>
      </li>
      <li class="navigation-list__item">
        <div class="hover-effect"></div>
        <a href="/ideas" class="navigation-list__link">
          <svg class="navigation-list__icon feather ">
            <use xlink:href="/icons/feather-sprite.svg#layers" />
          </svg>
          Ideas
        </a>
      </li>
      <li class="navigation-list__item">
        <div class="hover-effect"></div>
        <a href="/ideas/add" class="navigation-list__link">
          <svg class="navigation-list__icon feather ">
            <use xlink:href="/icons/feather-sprite.svg#plus-circle" />
          </svg>
          Add Idea
        </a>
      </li>
    </ul>
  </nav>

  <div class="categories">
    {{#if user}}
    <ul class="categories__list">
      {{#each categories}}
      <li class="categories__list-item">
        <div class="categories__list-item-circle" style="background-color:{{color}};"></div><a href="#" class="categories__list-item-link">{{text}}</a>
      </li>
      {{/each}}
    </ul>
    <form action="/categories/add" method="POST" class="categories__add-form">
      <input type="text" placeholder="Categorie" name="text" class="categories__add-input">
      {{!-- <input type="submit" value="+" class="categories__add-submit"> --}}
    </form>
    <a href="#" class="categories__add">
      <span class="categories__add-plus">+</span> Add new
    </a>
    {{/if}}
  </div>
</div>