<div class="navbar">
  <div class="logo-container">
    <p class="logo">Ideaz</p>
  </div>
  <nav class="navigation">
    <ul class="navigation-list">
      <li class="navigation-list__item">
        <div class="hover-effect"></div>
        <a href="/" class="navigation-list__link">
          <svg class="navigation-list__icon feather ">
            <use xlink:href="/icons/feather-sprite.svg#home" />
          </svg>
          Home
        </a>
      </li>
      <li class="navigation-list__item">
        <div class="hover-effect"></div>
        <a href="/about" class="navigation-list__link">
          <svg class="navigation-list__icon feather ">
            <use xlink:href="/icons/feather-sprite.svg#briefcase" />
          </svg>
          About
        </a>
      </li>
      <li class="navigation-list__item">
        <div class="hover-effect"></div>
        <a href="/ideas" class="navigation-list__link">
          <svg class="navigation-list__icon feather ">
            <use xlink:href="/icons/feather-sprite.svg#layers" />
          </svg>
          Ideas
        </a>
      </li>
      <li class="navigation-list__item">
        <div class="hover-effect"></div>
        <a href="/ideas/add" class="navigation-list__link">
          <svg class="navigation-list__icon feather ">
            <use xlink:href="/icons/feather-sprite.svg#plus-circle" />
          </svg>
          Add Idea
        </a>
      </li>
    </ul>
  </nav>
  {{#if user}}
  <ul class="categories-list">
    {{#each categories}}
    <li class="categories-list__item">
      <div class="categories-list__item-circle" style="background-color:{{color}};"></div><a href="#" class="categories-list__item-link">{{text}}</a>
    </li>
    {{/each}}
  </ul>
  {{/if}}
</div>