<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="/dist/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ideaz</title>
</head>

<body>
  <div class="container">
    <div class="navbar">
      <div class="logo-container">
        <p class="logo">Ideaz</p>
      </div>
      <nav class="navigation">
        <ul class="navigation-list">
          <li class="navigation-list__item">
            <div class="hover-effect"></div>
            <a href="#" class="navigation-list__link">
              <svg class="navigation-list__icon feather ">
                <use xlink:href="/icons/feather-sprite.svg#home" />
              </svg>
              Home
            </a>
          </li>
          <li class="navigation-list__item">
            <div class="hover-effect"></div>
            <a href="#" class="navigation-list__link">
              <svg class="navigation-list__icon feather ">
                <use xlink:href="/icons/feather-sprite.svg#briefcase" />
              </svg>
              About
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="right-section">
      <div class="topbar">
        <div class="wrapper">
          <form action="#" class="search-form">
            <label for="search" class="search-form__label">
              <svg class="search-form__icon feather ">
                <use xlink:href="/icons/feather-sprite.svg#search" />
              </svg>
            </label>
            <input type="text" class="search-form__input" placeholder="Search" id="search">
          </form>
        </div>
      </div>
      {{{body}}}
    </div>
  </div>
</body>

<script src="/dist/main.js"></script>

</html>