<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="/dist/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ideaz</title>
</head>

<body>
  <div class="container">
    {{> _navbar}}
    <div class="right-section">
      <div class="wrapper-topbar topbar">
        {{#if user}}
        <div class="search">
          <label for="search" class="search__label">
            <svg class="search__icon feather ">
              <use xlink:href="/icons/feather-sprite.svg#search" />
            </svg>
          </label>
          <input type="text" name="search" class="search__input" placeholder="Search" id="search">
          <div class="search__results"></div>
        </div>
        {{/if}}
        <div class="topbar__auth">
          {{#if user}}
          <div class="topbar__user">
            <div class="topbar__user-avatar"><img src="{{user.gravatar}}" alt="user avatar" class="topbar__user-avatar-img"></div>
            <a href="/account" class="topbar__user-name">Hello, {{user.name}} !</a>
            <a href="/users/logout" class="topbar__logout-link">
              <svg class="topbar__logout-icon feather ">
                <use xlink:href="/icons/feather-sprite.svg#log-out" />
              </svg>
            </a>
          </div>
          {{else}}
          <a href="/users/login" class="topbar__login-link">Login</a>
          <a href="/users/register" class="topbar__register-btn">Register</a>
          {{/if}}
        </div>
      </div>
      <div class="wrapper">
        {{> _alert}}
        {{{body}}}
      </div>
      {{#if ideas}}
      {{> _pagination}}
      {{/if}}
    </div>
  </div>
</body>

<script src="/dist/main.js"></script>

</html>