<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="/dist/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ideaz</title>
</head>

<body>
  <div class="container">
    <div class="navbar">
      <div class="logo-container">
        <p class="logo">Ideaz</p>
      </div>
      Navbar
    </div>
    <div class="right-section">
      <div class="topbar">
        <div class="wrapper">
          <form action="#" class="search-form">
            <label for="search" class="search-form__label"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                class="search-form__icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2 stroke-linecap="
                round" stroke-linejoin="round" class="feather feather-search">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
              </svg></label>
            <input type="text" class="search-form__input" placeholder="Search" id="search">
          </form>
        </div>
      </div>
      {{{body}}}
    </div>
  </div>
</body>

<script src="/dist/main.js"></script>

</html>