<div class="about">
  <h2 class="about__header">Here's a brief history about us ...</h2>
  <p class="about__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, tempora magni omnis, unde quo
    quis dolorum
    temporibus delectus fuga incidunt nisi praesentium quidem repudiandae! Saepe voluptas quia numquam voluptatem
    veniam deserunt in perspiciatis quae quisquam! Non obcaecati doloribus vitae totam sed? Molestiae aliquid et
    totam, quidem quam nam! Voluptatibus sed cupiditate ducimus nesciunt quidem nobis a sint autem aliquam cumque
    recusandae molestias deleniti tempora nisi nulla.<br>Dolore iusto minus cum eligendi? Mollitia id ullam nulla
    perferendis et dicta inventore odit eaque sed, recusandae expedita animi nihil ratione officiis facilis
    provident.</p>
</div>