<div class="home">
  <div class="home__content-box">
    <h1 class="home__header">Achieve your goals by writing<br>
      one small idea at a time</h1>
    <h2 class="home__sub-header"> tumeric fanny pack wayfarers freegan chillwave polaroid<br>
      austin bitters excepteur.
      Vice activated charcoal pork .</h2>
    <a href="/users/register" class="home__cta">get started !</a>
  </div>
</div>