.container {
  max-width: 120rem;
  margin: 6rem auto;
  min-height: 75rem;
  display: flex;
  box-shadow: 6px 8px 40px -7px rgba(0, 0, 0, 0.4);
  .navbar {
    flex: 0 0 17%;
    background-color: $color-primary;
    z-index: 100;
    .logo-container {
      background-color: $color-primary-dark;
      width: 100%;
      height: 6.7rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 100;
      .logo {
        font-size: 3.7rem;
        color: $color-primary;
      }
    }
    .navigation {
      z-index: 80;
      margin-top: 2.2rem;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        display: block;
        left: 15%;
        width: 70%;
        height: 1px;
        background-color: $color-primary-dark;
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
      &-list {
        width: 100%;
        list-style: none;
        &__item {
          display: flex;
          align-items: center;
        }

        &__icon {
          width: 2.3rem;
          margin-right: 1.7rem;
        }

        &__link {
          // transition: all 1s;
          &:link,
          &:visited {
            display: inline-block;
            text-decoration: none;
            font-size: 1.4rem;
            font-weight: 600;
            color: $color-white;
            width: 100%;
            padding: 1.5rem 2.8rem;
            display: flex;
            align-items: center;
            position: relative;
            &::after {
              content: '';
              top: -4.9rem;
              right: 0;
              width: 15rem;
              height: 15rem;
              border-radius: 100rem;
              position: absolute;
              background-color: $color-primary;
              z-index: -1;
            }
          }
          &:hover::after {
            content: '';
            top: -4.9rem;
            right: -0.5rem;
            width: 15rem;
            height: 15rem;
            border-radius: 100rem;
            position: absolute;
            background-color: $color-primary;
            z-index: -1;
            transition: all 0.3s ease-out;
          }
        }
      }
    }
  }
  .right-section {
    flex: 1;
    background-color: $color-grey;
    .topbar {
      background-color: $color-white;
      padding-top: 1.4rem;
      padding-bottom: 1.4rem;
      box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.35);
      display: flex;
      align-items: center;
      .search-form {
        display: flex;
        align-items: center;
        &__icon {
          width: 1.9rem;
          color: $color-text-dark;
        }
        &__input {
          border: none;
          outline: none;
          padding: 1rem 1rem;
          font-family: 'Nunito', sans-serif;
          font-size: 1.4rem;
          font-weight: 600;
          color: $color-text-dark;
        }
      }
      &__auth {
        margin-left: auto;
        display: flex;
        align-items: center;
      }
      &__register-btn:link,
      &__register-btn:visited {
        padding: 1rem 3rem;
        background-color: $color-pink;
        color: $color-white;
        font-size: 1.4rem;
        font-weight: 400;
        border-radius: 5px;
        margin-left: 2rem;
        transition: background-color 0.3s;
      }
      &__register-btn:active,
      &__register-btn:hover {
        background-color: $color-pink-dark;
      }
      &__login-link:link,
      &__login-link:visited {
        color: $color-text-dark;
        font-size: 1.5rem;
        font-weight: 500;
        transition: color 0.3s;
      }
      &__login-link:active,
      &__login-link:hover {
        color: $color-pink;
      }
      &__user {
        display: flex;
        align-items: center;
      }
      &__user-avatar {
        width: 3.2rem;
        height: 3.2rem;
        display: block;
      }
      &__user-avatar-img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
      &__user-name {
        color: $color-text-dark;
        font-size: 1.4rem;
        font-weight: 600;
        margin-left: 1rem;
      }
      &__logout-link {
        margin-left: 1.5rem;
      }
      &__logout-icon {
        // color: $color-text-dark;
        color: $color-pink;
        width: 2.2rem;
      }
    }
  }
}
.hover-effect {
  display: inline-block;
  width: 0.5rem;
  height: 4.5rem;
  background-color: transparent;
  transition: background-color 0.3s ease-out;
}

// Categories
.categories {
  padding-left: 2.8rem;
  padding-right: 2.8rem;
  &__list {
    margin-top: 6.5rem;
    list-style: none;
  }
  &__list-item {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
  }
  &__list-item-circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    // background-color: red;
    margin-right: 1.5rem;
  }
  &__list-item-link:link,
  &__list-item-link:visited {
    font-weight: 600;
    font-size: 1.3rem;
    color: $color-white;
    transition: color 0.3s;
  }
  &__list-item-link:hover,
  &__list-item-link:active {
    color: rgba($color-white, 0.8);
  }

  &__add:link,
  &__add:visited {
    font-weight: 600;
    font-size: 1.3rem;
    color: $color-white;
  }
  &__add-plus {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.7rem;
  }
  &__add-form {
    display: none;
    margin-bottom: 1rem;
  }
  &__add-form--active {
    display: block;
    margin-bottom: 1rem;
  }
  &__add-input {
    font-weight: 400;
    font-size: 1.3rem;
    color: $color-white;
    max-width: 14rem;
    padding: 0.7rem 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1.5px solid $color-primary-dark;
    &::placeholder {
      color: rgba($color-white, 0.4);
    }
  }
  // &__add-submit {
  //   margin-right: 2rem;
  //   font-size: 1.7rem;
  // }
}
