.wrapper {
  padding-left: 3.1rem;
  padding-right: 3.1rem;
}
.wrapper-topbar {
  padding-left: 3.1rem;
  padding-right: 3.1rem;
}
.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.flash {
  position: absolute;
  top: 10rem;
  right: 50%;
  width: 60rem;
  display: flex;
  padding: 1.3rem 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  border-radius: 0.4rem;
  z-index: 99999999;
  transform: translateX(50%);
  opacity: 1;
  transition: opacity 0.3s;
  word-break: break-all;
  &--error {
    background-color: $color-red;
    color: $color-white;
  }
  &--success {
    background-color: rgb(122, 255, 122);
    color: $color-text-dark;
  }
  &__dismiss {
    margin-left: auto;
    cursor: pointer;
    padding-left: 1rem;
  }
}

.form-error {
  color: $color-red;
  font-weight: 400;
  font-size: 1.4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.sidebar-error {
  color: $color-red;
  background-color: rgba($color-grey, 0.3);
  font-weight: 600;
  font-size: 1.4rem;
  padding: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  border-radius: 3px;
}

// to fix bottom spacing in some inputs
.u-input-mb {
  margin-bottom: 0.9rem;
}

// form row
.form-row {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}
