$color-primary: #8981d8;
$color-primary-dark: #6a61c0;
$color-grey-dark: #f9f9f9;
$color-grey: #f8f8f8;
$color-white: #fff;
$color-text-dark: #0c0c0c;
$color-text-light: #616161;
$color-red: rgb(255, 98, 98);
$color-red-dark: rgb(252, 76, 76);
