<div class="ideas-add">
  <h2 class="ideas-add__header">Add a Idea ..</h2>
  <form action="/ideas" class="ideas-add__form">
    <label for="title" class="ideas-add__label">Title</label>
    <input type="text" id="title" name="title" class="ideas-add__input ideas-add__input--title">
    <label for="body" class="ideas-add__label">Body</label>
    <textarea name="body" id="body" class="ideas-add__input ideas-add__input--body" cols="30" rows="10"></textarea>
  </form>
</div>