<div class="forgot">
  <h2 class="forgot__header">
    Forgot Password !
  </h2>
  <h3 class="forgot__sub-header">Enter your email address to recieve a reset email.</h3>
  <form action="/account/forgot" method="POST" class="forgot__form">
    <label for="email" class="forgot__form-label">Email</label>
    <input type="email" id="email" class="forgot__form-input" name="email">
    <input type="submit" value="Submit" class="forgot__form-submit">
  </form>
</div>