<div class="auth">
  <div class="auth__wrapper">
    <div class="auth__left">
      <h2 class="auth__header">Login</h2>
      <form action="/users/login" method="POST" class="auth__form">
        <label for="email" class="auth__label">Email address</label>
        <input type="email" id="email" name="email" class="u-input-mb auth__input">
        <label for="password" class="auth__label">Password</label>
        <input type="password" id="password" name="password" class="u-input-mb auth__input">
        <input type="submit" class="auth__submit" value="Login">
        <a href="/account/forgot" class="auth__forgot-link">Forgot password ?</a>
      </form>
    </div>
    <div class="auth__right">
      <img src="/images/login-ideaz.jpeg" alt="creative image" class="auth__image">
    </div>
  </div>
</div>